.event-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 15px;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: inline-block;
    text-align: left;
}

.event-item strong {
    display: inline-block;
    margin-bottom: 10px;
}

.event-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
}

.event-item button i {
    color: black;
    font-size: 16px;
}

.completion {
    border-radius: 5px;
}
